
body {
    background-color: #0b0b0b; /* Dark background */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}


nav {
    background-color: #000;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #004CFA; /* Bugatti Blue */
}


img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px 0;
}

.content {
    padding: 40px;
}